*{
    padding: 0;
    margin: 0;
}
.header{
    background-color: #f8f8f8;
    
}
.header_top{
    display: flex;
    background-color: rgb(84, 80, 80);
    padding: 0 4rem;
    justify-content: space-between;
}
.header_top_left{
    margin-top: 9px;
    
    color: white;
    
}
.header_top_right{
    margin-top: 9px;
    /* padding-left: 55%; */
    color: white;

}
.h_navImage {
    padding: 0.2rem 1rem 0.2rem 0;
}
.h_navImage img{
    height: 40px;
    width: 50px;
}
.link_a{
    font-size: 20px;
    font-weight: 400;
    align-items: center;
    color: rgb(11, 11, 11);
    text-decoration: none;
}
.link_a:hover{
    color: #F53838;
}
.topnav{
    display: flex;
    margin-bottom: 0px;
    background-color: rgb(255, 255, 255);
}
.centerDiv{
    margin-top: 1%;
    display: flex;
    justify-content: center;
}
.image_logo img {
    margin-left: 50px;
    margin-bottom: 0px;
    width: 70px;

}
.all{
    padding-left: 100px;
    display: flex;
}
#h_inputSearch {

    border: none;
    outline: none;
    font-size: 20px;
    padding-left: 20px;
    width: 800px;
}
.search button{
    border: none;
    background:none;
}
.search form {
    display: flex;
    border: solid #d5cdd0 1px;
    padding: 3px;
    margin-left: 8px;
    border-radius: 5px;
    /* box-shadow: 0px 0px 5px 5px #eeecec; */

}

.menu_center{
    padding-top: 19px;
}
.menu_center a{
    text-decoration: none;

}
.menu_center a:hover{
    text-decoration: none;
    color: blue;

}
#menu_bottom{
    background-color:antiquewhite;
    padding: 0 4rem;
}
#menu_bottom ul{
    padding: 0;
    margin: 0;
    display: flex;
}
.dichvu{
    padding: 0 2rem;
    display: flex;
    gap: 2rem;
}
.suachua li{
    margin-top: 5px;
    list-style-type: none;
}

.h_navImage {
    display: flex;
}
.dichvu li{
    list-style-type: none;
    line-height: 40px;
}

  
.dichvu li:hover {
    /* background-color: rgb(160, 186, 196); */
    background: #d7d5d5;
    color: #333;
}



.dropbtn {
    background-color: none;
    color: rgb(11, 2, 2);
    font-size: 15px;
    width: 6rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 0.3rem 2rem;
}
.dropdown {
    position: relative;
    display: inline-block;

}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown:hover .dropdown-content {
    display: block;
}