form{
    width: 50%;
    margin: auto;
}

form h2{
    text-align: center;
    /* background-color: rgb(56, 56, 56); */
    height: 50px;
    color: black;
    margin-top: 5%;
}
.enter input{
    float: right;
    border: 0;
    
    border-bottom: 1px solid #16012e;
    width: 50%;
}
.enter label{
    font-weight:bold;
}
.btn_submit{
    color: black;
    background-color: yellow;
    width: 100px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.btn_submit:hover{
    background-color: rgb(248, 221, 23);
}
